<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:woocommerce/order-confirmation-status {"fontSize":"large"} /-->

<!-- wp:woocommerce/order-confirmation-summary /-->

<!-- wp:woocommerce/order-confirmation-create-account -->
<div class="wp-block-woocommerce-order-confirmation-create-account alignwide"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Buat akun dengan Fundrizer - Fondasi</h3>
<!-- /wp:heading -->

<!-- wp:list {"className":"is-style-checkmark-list"} -->
<ul class="wp-block-list is-style-checkmark-list"><!-- wp:list-item -->
<li>Pembelian mendatang lebih cepat</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Simpan info pembayaran dengan aman</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Lacak pesanan &amp; lihat riwayat belanja</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:woocommerce/order-confirmation-create-account -->

<!-- wp:woocommerce/order-confirmation-totals-wrapper {"align":"wide"} -->
<!-- wp:heading {"style":{"typography":{"fontSize":"24px"}}} -->
<h2 class="wp-block-heading" style="font-size:24px">Rincian Pesanan</h2>
<!-- /wp:heading -->

<!-- wp:woocommerce/order-confirmation-totals {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-totals-wrapper -->

<!-- wp:woocommerce/order-confirmation-downloads-wrapper {"align":"wide"} -->
<!-- wp:heading {"style":{"typography":{"fontSize":"24px"}}} -->
<h2 class="wp-block-heading" style="font-size:24px">Unduhan</h2>
<!-- /wp:heading -->

<!-- wp:woocommerce/order-confirmation-downloads {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-downloads-wrapper -->

<!-- wp:columns {"align":"wide","className":"wc-block-order-confirmation-address-wrapper"} -->
<div class="wp-block-columns alignwide wc-block-order-confirmation-address-wrapper"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:woocommerce/order-confirmation-shipping-wrapper {"align":"wide"} -->
<!-- wp:heading {"style":{"typography":{"fontSize":"24px"}}} -->
<h2 class="wp-block-heading" style="font-size:24px">Alamat pengiriman</h2>
<!-- /wp:heading -->

<!-- wp:woocommerce/order-confirmation-shipping-address {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-shipping-wrapper --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:woocommerce/order-confirmation-billing-wrapper {"align":"wide"} -->
<!-- wp:heading {"style":{"typography":{"fontSize":"24px"}}} -->
<h2 class="wp-block-heading" style="font-size:24px">Alamat penagihan</h2>
<!-- /wp:heading -->

<!-- wp:woocommerce/order-confirmation-billing-address {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-billing-wrapper --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:woocommerce/order-confirmation-additional-fields-wrapper {"align":"wide"} -->
<!-- wp:heading {"style":{"typography":{"fontSize":"24px"}}} -->
<h2 class="wp-block-heading" style="font-size:24px">Informasi Tambahan</h2>
<!-- /wp:heading -->

<!-- wp:woocommerce/order-confirmation-additional-fields /-->
<!-- /wp:woocommerce/order-confirmation-additional-fields-wrapper -->

<!-- wp:woocommerce/order-confirmation-additional-information /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->